{% extends "layout.html" %}

{% block content %}

    
<div class="container">
    <br />        
    <div class="jumbotron">
        <h1 class="display-4"> Recommender</h1>
        <h5 class="display-6" >Share your experience, and get advice.</h5>
        <br />
        <p>In your practice, what are:</p>
        <ul> 
            <li><em>Distinct characteristics</em> of your sit?</li> 
            <li><em>Specific techniques</em> you use?</li> 
            <li><em>Challenges</em> you want to overcome?</li> 
            <li><em>Transition points</em> you have completed?</li>
        </ul>
        
            
        <p>Information about Stages <a href="stage.html">here.</a></p>
        <br />
        <input id="name" class="form-control" placeholder="Indicate approximate Stage (1-10)">
        <br />
        <textarea id="message" class="form-control" placeholder="Describe your practice per above"></textarea>
        <br />
        <button id="send" class="btn btn-success">Submit</button>
    </div>
    <div id="messages">   
    </div>
</div>

            
<script>
    var socket = io()
    $(()=> {
        $("#send").click(()=>{
            var message = { name: $("#name").val(), message: $("#message").val()}
            postMessage(message)
            // addMessages({name: 'Stage 1', message: 'It has been tough.'})   
        })
        getMessages()
    })
    
    socket.on('message', addMessages)
    
    function addMessages(message){
        $("#messages").append(`<h4> ${message.name} </h4> <p> ${message.message} </p>` )
    }
    
    function getMessages(){
        $.get('http://localhost:3000/messages', (data)=>{
            data.forEach(addMessages);
        })
    }

    function postMessage(message){
        $.post('http://localhost:3000/messages', message)
    }

</script>
    